{
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "Promise": true,
        "Reflect": true,
        "Symbol": true,
        "describe": true,
        "it": true
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "rules": {
        "no-cond-assign": [2, "except-parens"],
        "no-constant-condition": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-irregular-whitespace": 2,
        "no-obj-calls": 2,
        "no-prototype-builtins": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-jsdoc": 2,
        "valid-typeof": 2,
        "block-scoped-var": 2,
        "curly": [2, "multi-line"],
        "dot-location": [2, "property"],
        "eqeqeq": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-else-return": 2,
        "no-empty-function": 1,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-fallthrough": 2,
        "no-implicit-coercion": 2,
        "no-implicit-globals": 2,
        "no-invalid-this": 2,
        "no-lone-blocks": 2,
        "no-magic-numbers": [2, {
            "ignore": [-1, 0, 1, 2],
            "ignoreArrayIndexes": true
        }],
        "no-multi-str": 2,
        "no-new": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-unmodified-loop-condition": 2,
        "no-unused-expressions": 2,
        "no-unused-labels": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-useless-escape": 2,
        "no-with": 2,
        "vars-on-top": 2,
        "yoda": [2, "never"],
        "strict": [2, "global"],
        "init-declarations": [2, "always"],
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-undef": 2,
        "no-undefined": 2,
        "no-unused-vars": 2,
        "no-useless-rename": 2,
        "global-require": 2,
        "no-mixed-requires": 2,
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-sync": 2,
        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "never"],
        "brace-style": 2,
        "camelcase": 2,
        "comma-dangle": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "consistent-this": [2, "self"],
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "key-spacing": 2,
        "keyword-spacing": 2,
        "linebreak-style": 2,
        "lines-around-comment": [2, {
            "beforeBlockComment": false,
            "afterBlockComment": true
        }],
        "max-depth": 2,
        "max-len": [2, {
            "code": 130,
            "comments": 80,
            "ignoreTrailingComments": true
        }],
        "max-nested-callbacks": [2, {
            "max": 4
        }],
        "max-params": [2, {
            "max": 5
        }],
        "new-cap": 2,
        "new-parens": 2,
        "newline-after-var": 2,
        "newline-before-return": 2,
        "newline-per-chained-call": 2,
        "no-array-constructor": 2,
        "no-bitwise": 2,
        "no-inline-comments": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": 2,
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-trailing-spaces": 2,
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 2,
        "one-var-declaration-per-line": 2,
        "one-var": [2, "never"],
        "operator-assignment": 2,
        "padded-blocks": [2, "never"],
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single"],
        "semi-spacing": [2, {
            "before": false,
            "after": true
        }],
        "semi": [2, "always"],
        "space-before-blocks": 2,
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "spaced-comment": 2
    }
}