html,
body {
    height: 100%;
}

body {
    text-align: center;
}

body:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#sandbox {
    display: inline-block;
    background: #eee;
    vertical-align: middle;
    position: relative;
    width: 500px;
    height: 500px;
}